@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

nav {
    background-color: #EAEDED ;
    padding: 0.5px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 100px;
    font-size: 15px;
    display: flex;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: black
}

.btn-contact {
    background-color: black;
    color: white;
    border-radius: 18px;
    border: none;
    padding: 10px 15px;
    font-size: 15px;
}